<template>
<v-card>
<div class="pa-6">
    <div class="text-center text-h4" style="margin-bottom: 3rem">
      {{ $t("login") }}
    </div>
    <form @submit.prevent="submit">
      <v-select
        v-model="role"
        :items="roles"
        :label="$t('role')"
        single-line
        item-text="name"
        item-value="id"
        prepend-icon="mdi-meteor"
        v-on:change="changeRole"
      ></v-select>
      <v-text-field
        v-model.trim="form.login_name"
        :label="$t('login_name')"
        :error-messages="form.errors.get('login_name')"
        :error="form.errors.has('login_name')"
        type="login_name"
        prepend-icon="mdi-account"
        name="login_name"
      ></v-text-field>
      <v-text-field
        v-model.trim="form.password"
        :label="$t('password')"
        :error-messages="form.errors.get('password')"
        :error="form.errors.has('password')"
        prepend-icon="mdi-lock"
        name="password"
        :append-icon="passvalue ? 'mdi-eye' : 'mdi-eye-off'"
        @click:append="() => (passvalue = !passvalue)"
        :type="passvalue ? 'password' : 'text'"
      ></v-text-field>
      <v-spacer></v-spacer>
      <div class="d-flex flex-row justify-end pb-8">
        <span class="primary--text" style="cursor: pointer;">
          {{ $t("forgot_pass") }}
        </span>
      </div>
      <v-btn
        x-large
        color="primary"
        class="gradient"
        dark
        :loading="form.busy"
        v-text="$t('login')"
        type="submit"
      ></v-btn>
      <div class="d-flex justify-center align-center mt-3">
        Та бүртгэлтэй юу?
        <span v-on:click="$emit('close-dialog')">
          <b class="ml-3">
            <NuxtLink to="/auth/register">{{ $t("register") }}</NuxtLink>
          </b>
        </span>
      </div>
    </form>
  </div>
</v-card>

</template>

<script>
import Form from "vform";
import swal from "sweetalert2";
export default {
  components: {
    swal
  },
  data() {
    return {
      passvalue: String,
      login_name: "",
      form: new Form({
        login_name: "",
        password: ""
      }),
      remember: false,
      role: {},
      roles: [
        {
          id: 1,
          name: this.$t("admin")
        },
        {
          id: 2,
          name: this.$t("teacher")
        },
        {
          id: 3,
          name: this.$t("student")
        }
      ]
    };
  },
  methods: {
    async submit() {
      let data;
      try {
        const response = await this.form.post("/login");
        data = response.data;
      } catch (e) {
        return;
      }

      // Save the token.
      this.$store.dispatch("auth/saveToken", {
        token: data.meta.token,
        remember: this.remember
      });

      await this.$store.dispatch("auth/fetchUser").then(res => {
        let user = this.$store.getters["auth/user"];
        if (user.role === "admin") {
          return this.$router.push("/user/admin/dashboard");
          // this.$router.back();
        }
      });
    },

    closeDialog: function() {
      console.log("close dialog 1");
      this.$emit("close-dialog");
    },

    changeRole(e) {
      switch (e) {
        case 1:
          this.form.login_name = "admin";
          this.form.password = "admin";
          break;
        case 2:
          this.form.login_name = "teacher";
          this.form.password = "teacher";
          break;
        case 3:
          this.form.login_name = "student";
          this.form.password = "student";
          break;
      }
    }
  }
};
</script>
<style>
.login-bg {
  background-color: white;
}
</style>
