<template>
  <div>
    <v-app-bar color="deep-purple accent-4" class="text-right" dense>
      <v-app-bar-nav-icon @click.stop="rightDrawer = !rightDrawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <div v-if="!user">
        <v-btn text color="white" to="/auth/login">
          {{ $t("login") }}
        </v-btn>
      </div>
      <div v-else>
        <v-btn icon color="white" to="/user/student/dashboard">
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-menu
          v-model="value"
          :offset-y="true"
          transition="slide-y-transition"
          :close-on-click="false"
          :close-on-content-click="true"
 
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              v-bind="attrs"
              v-on="on"
            >
              <v-badge color="error" :content="selected.length" overlap>
                <v-icon color="grey lighten-3">mdi-bell</v-icon>
              </v-badge>
            </v-btn>
          </template>
          <v-list max-width="450">
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title class="text-h5 font-weight-bold">{{ $t('notification') }}</v-list-item-title>
                <v-list-item-subtitle>{{ $t('news') }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item-group
              v-model="selected"
              multiple
              active-class="pink--text"
            >
              <template v-for="(item, index) in items">
                <v-list-item :key="item.title">
                  <template v-slot:default="{ active}">
                    <v-list-item-content>
                      <v-list-item-title v-text="item.title"></v-list-item-title>
                      <v-list-item-subtitle class="text--primary" v-text="item.headline"></v-list-item-subtitle>
                      <v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-list-item-action-text v-text="item.action"></v-list-item-action-text>
                      <v-icon
                        v-if="!active"
                        color="grey lighten-1"
                      >
                        mdi-star_border
                      </v-icon>

                      <v-icon
                        v-else
                        color="yellow"
                      >
                        mdi-star
                      </v-icon>
                    </v-list-item-action>
                  </template>
                </v-list-item>

                <v-divider
                  v-if="index + 1 < items.length"
                  :key="index"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-menu>
        <v-btn text color="white" small>
          {{ $t('teachers_works') }}
        </v-btn>
        <v-btn text color="white" small>
          FAQ
        </v-btn>
      </div>
      <v-spacer></v-spacer>
      <v-chip
        class="ma-2"
        color="deep-purple accent-4"
        text-color="white"
        to="/user/student/seeMoreInfo"
      >
        <v-avatar left>
          <v-icon>mdi-account-circle</v-icon>
        </v-avatar>
        {{ user.first_name }}
      </v-chip>
      <LocaleDropdown />
    </v-app-bar>
    <!-- Navigation -->
    <v-navigation-drawer v-model="rightDrawer" temporary fixed v-if="user">
      <v-list>
        <v-list-item>
          <v-list-item-title>{{ $t("navChoose") }}</v-list-item-title>
          <v-hover v-slot:default="{ hover }">
            <v-list-item-action
              @click.stop="rightDrawer = !rightDrawer"
              :elevation="hover ? 12 : 2"
            >
              <v-icon light>
                mdi-close
              </v-icon>
            </v-list-item-action>
          </v-hover>
        </v-list-item>
        <v-list-item two-line :class="miniVariant && 'px-0'" to="/user/student/seeMoreInfo">
          <v-list-item-avatar>
            <img
              src="https://scontent.fuln6-1.fna.fbcdn.net/v/t1.0-1/p200x200/72398458_2423837677854799_8297821062901530624_o.jpg?_nc_cat=104&_nc_sid=7206a8&_nc_ohc=3uk6yVxOa0gAX9cF2lM&_nc_ht=scontent.fuln6-1.fna&_nc_tp=6&oh=7ef39b16dd712e8b94708216ec448995&oe=5F448D18"
              alt="Profile picture"
            />
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ user.first_name }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(user.role) }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item
          v-for="item in navItems"
          :key="item.title"
          link
          :to="item.to"
        >
          <v-list-item-icon>
            <v-icon color="primary">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn @click.prevent="logout" outlined color="primary" block>
            {{ $t("logout") }}
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
// import Login from '~/components/login.vue'
import LocaleDropdown from "./LocaleDropdown";
import { mdiAccount } from "@mdi/js";
export default {
  data() {
    return {
      name: "",
      clipped: true,
      drawer: false,
      fixed: false,
      rightDrawer: false,
      title: this.$t("schoolTitle"),
      miniVariant: false,
      selected: [2],
      value: '',
      icons: {
        mdiAccount
      },
      navItems: [
        {
          title: "Dashboard",
          icon: "mdi-view-dashboard",
          to: "/user/student/dashboard"
        },
        { title: this.$t("schedule"), icon: "mdi-calendar", to: "/user/student/schedule" },
        { title: this.$t("point"), icon: "mdi-library", to: "" },
        { title: this.$t("exam_schedule"), icon: "mdi-calendar-today", to: "" },
        { title: "About", icon: "mdi-help-box", to: "" }
      ],
      items: [
        {
          action: '15 min',
          headline: 'Brunch this weekend?',
          title: 'Ali Connors',
          subtitle: "I'll be in your neighborhood doing errands this weekend. Do you want to hang out?",
        },
        {
          action: '2 hr',
          headline: 'Summer BBQ',
          title: 'me, Scrott, Jennifer',
          subtitle: "Wish I could come, but I'm out of town this weekend.",
        },
        {
          action: '6 hr',
          headline: 'Oui oui',
          title: 'Sandra Adams',
          subtitle: 'Do you have Paris recommendations? Have you ever been?',
        },
        {
          action: '12 hr',
          headline: 'Birthday gift',
          title: 'Trevor Hansen',
          subtitle: 'Have any ideas about what we should get Heidi for her birthday?',
        },
        {
          action: '18hr',
          headline: 'Recipe to try',
          title: 'Britta Holt',
          subtitle: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
        },
      ],
    };
  },
  components: {
    LocaleDropdown
  },
  methods: {
    async logout() {
      await this.$store.dispatch("auth/logout");
      this.$router.push({ name: "auth-login" });
    }
  }
};
</script>
