<template>
  <div>
    <v-img
      src="/img/learning1.jpg"
      gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
      height="300px"
      aspect-ratio="1.8"
    >
      <v-container class="mt-8 white--text">
        <div class="row">
          <div class="col-2">
            <v-img
              class="rounded"
              :src="'https://randomuser.me/api/portraits/men/'+userDetail.id+'.jpg'"
              height="150px"
              width="120"
            ></v-img>
          </div>
          <div class="col-3">
            <div class="text-button">
              {{ $t(userDetail.role) }}
            </div>
            <div class="text-h4 font-weight-bold">
              {{userDetail.first_name}}
            </div>
            <p>Архив албан хэрэг хөтлөлтийн багш</p>
            <div class="content">
              <span>
                Сургалт: {{cards.length}}
              </span>
              <v-divider vertical color="white" class="mx-3"></v-divider>
              <span>
                Сурагчид: 144
              </span>
            </div>
          </div>
        </div>
      </v-container>
    </v-img>
    <v-container>
      <div class="text-h6 text-decoration-underline mb-5">
        Холбоотой хичээл
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4" v-for="card in cards" :key="card.id">
          <v-hover v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 12 : 2"
              class="text-center"
              :to="'/training/' + card.id"
            >
              <v-img
                :src="hostUrl + '/course/' + card.src"
                class="white--text align-end"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                height="150px"
              >
                <v-fade-transition>
                  <div
                    v-if="hover"
                    class="d-flex v-card--reveal display-3 white--text"
                    style="height: 100%;"
                  >
                    <v-img
                      :src="require('@/assets/img/icons/play_button.png')"
                      style="max-width: 70px"
                      height="70px"
                    ></v-img>
                    <!-- <v-btn
                          fab
                          dark
                          color="purple darken-4"
                          @click.stop=""
                        >
                          <v-icon>mdi-play-circle</v-icon>
                        </v-btn> -->
                  </div>
                </v-fade-transition>
                <v-card-title class="white--text mt-8 pb-2">
                  <v-avatar size="40" class="av-border">
                    <img
                      elevation="11"
                      alt="user"
                      :src="
                        'https://randomuser.me/api/portraits/men/' +
                          card.user_id +
                          '.jpg'
                      "
                    />
                  </v-avatar>
                  <p class="ml-3 mb-0 mt-2 text-body-2 font-weight-medium">
                    {{ card.teacher.first_name }}
                  </p>
                </v-card-title>
              </v-img>
              <v-card-title
                class="text-truncate"
                style="display: block; cursor: pointer"
                v-text="card.title"
              ></v-card-title>
              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating
                    :value="card.rate"
                    color="amber"
                    dense
                    half-increments
                    readonly
                    size="14"
                  ></v-rating>

                  <div class="grey--text ml-4">{{ card.rate }} (413)</div>
                </v-row>
              </v-card-text>
              <v-divider class="mx-4"></v-divider>
              <v-card-actions>
                <v-icon small>mdi-account</v-icon>
                <span class="text-caption">{{ card.buyCount }}</span>
                <v-spacer></v-spacer>
                <span class="text-caption red--text font-weight-bold"
                  >{{ card.price | numeral("0,0") }} ₮</span
                >
              </v-card-actions>
            </v-card>
          </v-hover>
        </div>
        <div class="col-12 text-center" v-if="cards.length < 1">
          {{ $t("no_data") }}
        </div>
      </div>
      <div class="text-center my-4">
        <v-pagination
          v-model="pageMeta.current_page"
          :length="pageMeta.last_page"
          :total-visible="7"
          :disabled="cards.length < 1"
          circle
          @input="handlePageChange"
        ></v-pagination>
      </div>
    </v-container>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      page: 1,
      pages: 8,
      pageMeta: {},
      cards: [],
      userDetail: {},
      hostUrl: process.env.hostUrl
    };
  },
  mounted() {
    this.getUserLesson();
    this.getUserDetail();
  },
  methods: {
    getUserDetail() {
      axios.get('/getUser/'+this.$route.params.id).then(
        res => {
          this.userDetail = res.data.data;
        },
        err => {
          console.error(err);
        }
      );
    },

    handlePageChange(value) {
      this.page = value;
      this.getUserLesson();
    },

    getUserLesson() {
      const id = this.$route.params.id;
      let link = "/course?page=" + this.page;
      this.choosedCategoryId = id;
      if (id != 0) {
        link = link + "&user_id=" + id;
      }
      axios.get(link).then(
        res => {
          this.cards = res.data.data;
          this.pageMeta = res.data.meta;
        },
        err => {
          console.log("Aldaa garlaa", err);
        }
      );
    }
  }
};
</script>
