<template>
  <div>
    <v-img src="/img/background-icon-grad.svg" height="350px">
      <v-container>
        <div class="row pt-6 white--text">
          <div class="col-md-5 mt-6">
            <div class="text-h4 font-weight-bold">
              {{ $t("only_you_video") }}
            </div>
            <p class="pt-5 text-caption">
              {{ $t("bg_text_2") }}
            </p>
          </div>
        </div>
      </v-container>
    </v-img>
    <v-container class="my-5">
      <div class="text-h6 text-decoration-underline mb-5">
        {{ $t('your_lesson') }}
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4" v-for="card in cards" :key="card.id">
          <v-hover v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 12 : 2"
              class="text-center"
              :to="'/training/' + card.id"
            >
              <v-img
                :src="hostUrl + '/course/' + card.src"
                class="white--text align-end"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                height="150px"
              >
                <v-fade-transition>
                  <div
                    v-if="hover"
                    class="d-flex v-card--reveal display-3 white--text"
                    style="height: 100%;"
                  >
                    <v-img
                      :src="require('@/assets/img/icons/play_button.png')"
                      style="max-width: 70px"
                      height="70px"
                    ></v-img>
                    <!-- <v-btn
                          fab
                          dark
                          color="purple darken-4"
                          @click.stop=""
                        >
                          <v-icon>mdi-play-circle</v-icon>
                        </v-btn> -->
                  </div>
                </v-fade-transition>
                <v-card-title class="white--text mt-8 pb-2">
                  <v-avatar size="40" class="av-border">
                    <img
                      elevation="11"
                      alt="user"
                      :src="
                        'https://randomuser.me/api/portraits/men/' +
                          card.id +
                          '.jpg'
                      "
                    />
                  </v-avatar>
                  <p class="ml-3 mb-0 mt-2 text-body-2 font-weight-medium">
                    {{ card.teacher.first_name }}
                  </p>
                </v-card-title>
              </v-img>
              <v-card-title
                class="text-truncate"
                style="display: block; cursor: pointer"
                v-text="card.title"
              ></v-card-title>
              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating
                    :value="card.rate"
                    color="amber"
                    dense
                    half-increments
                    readonly
                    size="14"
                  ></v-rating>

                  <div class="grey--text ml-4">{{ card.rate }} (413)</div>
                </v-row>
              </v-card-text>
              <v-divider class="mx-4"></v-divider>
              <v-card-actions>
                <v-icon small>mdi-account</v-icon>
                <span class="text-caption">{{ card.buyCount }}</span>
                <v-spacer></v-spacer>
                <span class="text-caption red--text font-weight-bold"
                  >{{ card.price | numeral("0,0") }} ₮</span
                >
              </v-card-actions>
            </v-card>
          </v-hover>
        </div>
        <div class="col-12 text-center" v-if="cards.length < 1">
          {{ $t("no_data") }}
        </div>
      </div>
      <div class="text-center my-4">
        <v-pagination
          v-model="pageMeta.current_page"
          :length="pageMeta.last_page"
          :total-visible="7"
          :disabled="cards.length < 1"
          circle
          @input="handlePageChange"
        ></v-pagination>
      </div>
    </v-container>
  </div>
</template>

<script>
import { Component, Vue } from "nuxt-property-decorator";
import axios from "axios";

@Component({})
export default class DetailTrain extends Vue {
  title = "Хичээлүүд";
  page = 1;
  pages = 8;
  pageMeta = {};
  hostUrl = process.env.hostUrl;
  cards = [];
  head() {
    return {
      title: this.title,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: "Онлайн сургалтын ангилал"
        }
      ]
    };
  }

  mounted() {
    this.getCourse();
  }

  getCourse() {
    let link = "/course?page=" + this.page;
    link = link + "&student_id=" + this.user;
    axios.get(link).then(
      res => {
        this.cards = res.data.data;
        this.pageMeta = res.data.meta;
      },
      err => {
        console.log("Aldaa garlaa", err);
      }
    );
  }

  handlePageChange(value) {
    this.page = value;
    this.chooseCategory(this.choosedCategoryId);
  }
}
</script>

<style lang="scss" scoped></style>
