<template>
  <div>
    <v-alert dense outlined :type="alertType" dismissible :v-if="status">
      <span v-if="alertType === 'success'">
        {{ $t("successRegister") }}
      </span>
      <span v-if="alertType === 'error'">
        {{ $t("failed") }}
      </span>
    </v-alert>
  </div>
</template>

<script>
export default {
  name: 'info',
  props: {
    alertType:{
      type: String,
      default: 'success'
    },
    status:{
      type: Boolean,
      default: false
    }
  }
}
</script>

<style></style>>
