<template>
  <div>
    <v-img src="/img/faq_banner.png" height="300px"> </v-img>
    <v-container class="my-5">
      <div class="text-center text-h4 font-weight-bold faq mb-5">
        {{ $t("ask") }} &
        <span class="deep-purple--text">{{ $t("answer") }}</span>
      </div>
      <div class="row justify-center">
        <div class="col-9">
          <v-expansion-panels active-class="deep-purple--text font-weight-bold">
            <v-expansion-panel v-for="item of questions" :key="item.ask">
              <v-expansion-panel-header>
                {{ item.ask }}
                <template v-slot:actions>
                  <v-icon color="primary">
                    $expand
                  </v-icon>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <span class="black--text">
                  {{ item.answer }}
                </span>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      questions: [
        {
          ask: "Хэрхэн бүртгүүлэх вэ?",
          answer:
            'Та вэб сайтын баруун дээд хэсэгт байрлах "Нэвтрэх" товч дээр даран гарч ирэх цонхноос "Бүртгээлэх" дээр дарж өөрийн мэдээллийг оруулан бүртгэл үүсгээрэй.'
        },
        {
          ask:
            "Хэрхэн сонирхож буй сургалтынхаа төлбөрийг хийн идэвхжүүлэх вэ?",
          answer:
            'Та өөрийн бүртгэлтэй хаягаараа нэвтрэн сонирхож буй сургалт руу ороход "Худалдаж авах" товч гарч ирэх бөгөөд түүн дээр дармагц төлбөр төлөх сонголт гарч ирнэ. Та аль нэгийг сонгон төлбөрөө шилжүүлснээс хойш 10 минутын дотор захиалга тань идэвхжин бүртгэлтэй дугаарт мэссэж очно.'
        },
        {
          ask: "Хэрхэн идэвхжүүлсэн сургалтаа үзэх вэ?",
          answer:
            'Та худалдан авсан сургалт руугаа ороход "Хичээл үзэх" гэсэн товч гарч ирэх бөгөөд тухайн товч дээр даран сургалтаа эхлүүлээрэй. Сургалтын ашиглагдах материалаа видеоны доор байрлах хичээлийн материал хэсгээс татаж аваарай.'
        },
        {
          ask: "Миний худалдан авсан сургалт хэр хугацаанд хүчинтэй байх вэ?",
          answer:
            "Таны дугаарт идэвхжүүлсэн мэссэж очсон цагаас эхлэн 3 сарын хугацаанд хэзээ ч хаанаас ч хэдэн ч удаа үзэх боломжтой. Харин 3 сарын хугацаа дууссан тохиолдолд таны хичээл автоматаар хаагдах болно."
        },
        {
          ask: "Нэвтрэх нууц үгээ мартсан тохиолдолд яах вэ?",
          answer:
            'Та вэб сайтын "Нэвтрэх" хэсэг рүү орон "Нууц үг мартсан" товч дээр даран бүртгэлтэй майл хаягаа хийгээрэй. Дараагаар бүртгэлтэй майл хаяг руугаа орон нууц үгээ шинэчлээрэй.'
        }
      ]
    };
  }
};
</script>

<style></style>
