<template>
  <div>
    <v-carousel cycle>
      <v-carousel-item v-for="(item, i) in items" :key="i" :src="item.src">
        <!-- <v-img  contain></v-img> -->
      </v-carousel-item>
    </v-carousel>

    <!-- Ангилал хэсэг -->
    <v-container grid-list-xs>
      <hooper
        :itemsToShow="
          displayWidth > 900
            ? 6
            : displayWidth > 700
            ? 5
            : displayWidth > 500
            ? 3
            : displayWidth > 360
            ? 2
            : 1
        "
        :autoPlay="true"
        :playSpeed="3000"
        :infiniteScroll="true"
        style="height: 170px"
      >
        <slide v-for="card in categoriesData()" :key="card.id" class="pa-3">
          <v-card :to="'/categories/' + card.id">
            <v-img
              :src="card.img"
              class="white--text align-center"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="100px"
              width="170px"
            >
              <v-card-title
                v-text="card.name"
                class="text-center category text-truncate"
                style="display: block; cursor: pointer"
              ></v-card-title>
            </v-img>
          </v-card>
        </slide>
      </hooper>
      <!-- Танилцуулга хэсэг -->
      <div class="row">
        <div class="col-md-6 pl-4" style="padding-top: 5%">
          <h1 class="display-1 font-weight-thin mb-4">
            {{ $t("do_increase_your_skill") }}
          </h1>
          <h4 class="subheading">
            {{ $t("captionWord") }}
          </h4>
        </div>
        <div class="col-md-6">
          <vue-plyr>
            <div
              data-plyr-provider="youtube"
              data-plyr-embed-id="ZPs3URGs0KQ"
            ></div>
          </vue-plyr>
        </div>
      </div>

      <div class="cattitle">
        {{ $t("new_course") }}
      </div>
      <div class="slider">
        <v-btn
          fab
          small
          color="white darken-4"
          @click.prevent="slideNext"
          class="slide-controller right"
        >
          <v-icon color="primary">mdi-chevron-right</v-icon>
        </v-btn>
        <v-btn
          fab
          small
          color="white darken-4"
          @click.prevent="slidePrev"
          class="slide-controller left"
        >
          <v-icon color="primary">mdi-chevron-left</v-icon>
        </v-btn>
        <hooper
          :settings="hooperSettings"
          :itemsToShow="
            displayWidth > 960
              ? 4
              : displayWidth > 785
              ? 3
              : displayWidth > 500
              ? 2
              : 1
          "
          style="height: 330px"
          ref="carousel"
        >
          <slide v-for="card in newCards" :key="card.id" class="pa-3">
            <v-hover v-slot:default="{ hover }">
              <v-card
                :elevation="hover ? 12 : 2"
                class="text-center"
                :to="'/training/' + card.id"
              >
                <v-img
                  :src="hostUrl + '/course/' + card.src"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="150px"
                >
                  <v-fade-transition>
                    <div
                      :style="hover ? 'z-index: 2;' : 'z-index: -999;'"
                      class="d-flex v-card--reveal display-3 white--text"
                      style="height: 100%;"
                    >
                      <v-img
                        :src="playerIcon"
                        style="max-width: 70px"
                        height="70px"
                      ></v-img>
                    </div>
                  </v-fade-transition>
                  <v-card-title class="white--text mt-8 pb-2">
                    <v-avatar size="40" class="av-border">
                      <img
                        elevation="11"
                        alt="user"
                        :src="
                          'https://randomuser.me/api/portraits/men/' +
                            card.user_id +
                            '.jpg'
                        "
                      />
                    </v-avatar>
                    <p class="ml-3 mb-0 mt-2 text-body-2 font-weight-medium">
                      {{ card.teacher.first_name }}
                    </p>
                  </v-card-title>
                </v-img>
                <v-card-title
                  v-text="card.title"
                  class="text-truncate"
                  style="display: block; cursor: pointer"
                ></v-card-title>
                <v-card-text>
                  <v-row align="center" class="mx-0">
                    <v-rating
                      :value="card.rate"
                      color="amber"
                      dense
                      half-increments
                      readonly
                      size="14"
                    ></v-rating>

                    <div class="grey--text ml-4">{{ card.rate }}(413)</div>
                  </v-row>
                </v-card-text>
                <v-divider class="mx-4"></v-divider>
                <v-card-actions>
                  <v-icon small>mdi-account</v-icon>
                  <span class="text-caption">{{ card.buyCount }}</span>
                  <v-spacer></v-spacer>
                  <span class="text-caption red--text font-weight-bold"
                    >{{ card.price | numeral("0,0") }} ₮</span
                  >
                </v-card-actions>
              </v-card>
            </v-hover>
          </slide>
          <hooper-pagination slot="hooper-addons"></hooper-pagination>
        </hooper>
      </div>
    </v-container>

    <div class="row justify-center gradient mt-6 mr-0 ml-0">
      <div class="text-center white--text pa-4 ma-4 maxw-250">
        <v-img src="/icons/student.svg" class="mx-auto" width="75" height="70">
        </v-img>
        <p class="text-h4 mt-4 ">
          {{ count1 | numeral("0,0") }}
        </p>
        <span class="text-caption">{{ $t("registered_student") }}</span>
      </div>
      <div class="text-center white--text pa-4 ma-4 maxw-250">
        <v-img
          src="/icons/emblem-and-student.svg"
          class="mx-auto"
          width="75"
          height="70"
        >
        </v-img>
        <p class="text-h4 mt-4 ">
          {{ count2 | numeral("0,0") }}
        </p>
        <span class="text-caption">{{ $t("help_student") }}</span>
      </div>
      <div class="text-center white--text pa-4 ma-4 maxw-250">
        <v-img
          src="/icons/eye_and_hand.svg"
          class="mx-auto"
          width="75"
          height="70"
        >
        </v-img>
        <p class="text-h4 mt-4">
          {{ count3 | numeral("0,0") }}
        </p>
        <span class="text-caption">{{ $t("registered_student") }}</span>
      </div>
      <div class="text-center white--text pa-4 ma-4 maxw-250">
        <v-img src="/icons/emblem.svg" class="mx-auto" width="70" height="70">
        </v-img>
        <p class="text-h4 mt-4">
          {{ count4 | numeral("0,0") }}
        </p>
        <span class="text-caption">{{ $t("registered_student") }}</span>
      </div>
    </div>
    <v-container>
      <div class="text-center mt-6 mb-5">
        <span class="cattitle mt-4 mb-4">{{ $t("courses") }}</span>
        <div class="text-center" style="width: 100%">
          <v-btn
            text
            color="indigo darken-4"
            @click.prevent="clickCategory(0)"
            x-small
          >
            <span
              :class="
                (choosedCategoryId == 0
                  ? 'font-weight-bold text-decoration-underline'
                  : '') + ' pa-1'
              "
            >
              {{ $t("all") }}
            </span>
          </v-btn>
          <v-btn
            text
            color="indigo darken-4"
            x-small
            v-for="category in categoriesData()"
            :key="category.id"
            @click.prevent="clickCategory(category.id)"
          >
            <span
              :class="
                (choosedCategoryId == category.id
                  ? 'font-weight-bold text-decoration-underline'
                  : '') + ' pa-1'
              "
            >
              {{ category.name }}
            </span>
          </v-btn>
        </div>
      </div>
      <v-card elevation="0">
        <v-overlay :value="loadingCourses" :absolute="true">
          <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <div class="row">
          <div class="col-12 text-center" v-if="cards.length < 1">
            {{ $t("no_data") }}
          </div>
          <div class="col-md-3 col-sm-4" v-for="card in cards" :key="card.id">
            <v-hover v-slot:default="{ hover }">
              <v-card
                :elevation="hover ? 12 : 2"
                class="text-center"
                :to="'/training/' + card.id"
              >
                <v-img
                  :src="hostUrl + '/course/' + card.src"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="150px"
                >
                  <v-fade-transition>
                    <div
                      class="d-flex v-card--reveal display-3 white--text"
                      style="height: 100%;"
                      :style="hover ? 'z-index: 2;' : 'z-index: -999;'"
                    >
                      <v-img
                        :src="playerIcon"
                        style="max-width: 70px"
                        height="70px"
                      ></v-img>
                    </div>
                  </v-fade-transition>
                  <v-card-title class="white--text mt-8 pb-2">
                    <v-avatar size="40" class="av-border">
                      <img
                        elevation="11"
                        alt="user"
                        :src="
                          'https://randomuser.me/api/portraits/men/' +
                            card.user_id +
                            '.jpg'
                        "
                      />
                    </v-avatar>
                    <p class="ml-3 mb-0 mt-2 text-body-2 font-weight-medium">
                      {{ card.teacher.first_name }}
                    </p>
                  </v-card-title>
                </v-img>
                <v-card-title
                  class="text-truncate"
                  style="display: block; cursor: pointer"
                  v-text="card.title"
                ></v-card-title>
                <v-card-text>
                  <v-row align="center" class="mx-0">
                    <v-rating
                      :value="card.rate"
                      color="amber"
                      dense
                      half-increments
                      readonly
                      size="14"
                    ></v-rating>

                    <div class="grey--text ml-4">{{ card.rate }} (413)</div>
                  </v-row>
                </v-card-text>
                <v-divider class="mx-4"></v-divider>
                <v-card-actions>
                  <v-icon small>mdi-account</v-icon>
                  <span class="text-caption">{{ card.buyCount }}</span>
                  <v-spacer></v-spacer>
                  <span class="text-caption red--text font-weight-bold"
                    >{{ card.price | numeral("0,0") }} ₮</span
                  >
                </v-card-actions>
              </v-card>
            </v-hover>
          </div>
        </div>
      </v-card>
      <div class="text-center my-4">
        <v-pagination
          v-model="pageMeta.current_page"
          :length="pageMeta.last_page"
          :total-visible="7"
          :disabled="cards.length < 1"
          circle
          @input="handlePageChange"
        ></v-pagination>
      </div>
      <div class="my-5 d-flex justify-center">
        <div class="text-center pt-5" style="max-width: 500px">
          <div class="text-h4 mb-3">
            {{ $t("student_comments") }}
          </div>
          <span class="text-caption">
            {{ $t("comment_caption") }}
          </span>
        </div>
      </div>
      <div class="slider">
        <hooper
          :settings="hooperSettings"
          :itemsToShow="
            displayWidth > 960
              ? 4
              : displayWidth > 785
              ? 3
              : displayWidth > 500
              ? 2
              : 1
          "
          style="height: 310px"
        >
          <slide v-for="card in comments" :key="card.id" class="pa-3">
            <v-hover v-slot:default="{ hover }">
              <v-card
                :elevation="hover ? 12 : 2"
                class="text-center"
                style="height: 100%"
              >
                <v-card-title>
                  <v-icon large :color="hover ? 'purple darken-2' : ''">
                    mdi-format-quote-open
                  </v-icon>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text
                  :style="hover ? 'color:black; cursor: pointer;' : ''"
                >
                  {{ card.text }}
                </v-card-text>
                <!-- <v-divider class="mx-4"></v-divider> -->

                <v-card-actions style="position: absolute; bottom: 0">
                  <v-list-item two-line class="px-0">
                    <v-list-item-avatar>
                      <img
                        :src="
                          'https://randomuser.me/api/portraits/men/' +
                            card.id +
                            '.jpg'
                        "
                        :class="hover ? '' : 'grayscale'"
                      />
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>
                        {{
                          (card.last_name ? card.last_name + " " : "") +
                            card.first_name
                        }}
                      </v-list-item-title>
                      <v-list-item-subtitle>
                        {{ $t("categories") }}: {{ card.category }}
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-card-actions>
              </v-card>
            </v-hover>
          </slide>
        </hooper>
      </div>
      <div class="row my-5 justify-center">
        <div class="col-sm-6 text-center">
          <div class="text-h5 text-uppercase font-weight-bold mb-4">
            {{ $t("become_teacher") }}
          </div>
          <div>
            Монголын онлайн сургалтын нэгдсэн платформд багшлан, өөрийн мэдлэг
            ур чадвараа бусдад түгээн, мянга мянган залуусын амжилтад нөлөөлөн
            нэмэлт орлого олох боломж.
          </div>
          <v-btn
            class="ma-2"
            rounded
            outlined
            color="indigo"
            @click="requestTeacher"
          >
            {{ $t("become_teacher") }}
          </v-btn>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import { Hooper, Slide, Pagination as HooperPagination } from "hooper";
import axios from "axios";
import "hooper/dist/hooper.css";
import Swal from "sweetalert2";
export default {
  layout: "admin",
  name: "home",
  components: {
    Hooper,
    Slide,
    HooperPagination
  },

  data() {
    return {
      choosedCategoryId: Number,
      page: 1,
      pages: 8,
      count1: 0,
      count2: 0,
      count3: 0,
      count4: 0,
      counter1: 200,
      counter2: 2001,
      counter3: 150,
      counter4: 50,
      hostUrl: process.env.hostUrl,
      loadingCourses: false,
      displayWidth: this.$vuetify.breakpoint.width,
      playerIcon: require("@/assets/img/icons/play_button.png"),
      newCards: [],
      cards: [],
      pageMeta: {},
      newTrains: [
        {
          title: "Pre-fab homes",
          src: "https://cdn.vuetifyjs.com/images/cards/house.jpg"
        }
      ],
      items: [
        {
          src: require("@/assets/carousel/photo.jpg")
        },
        {
          src: require("@/assets/carousel/photo1.jpg")
        }
      ],
      comments: [
        {
          id: 1,
          first_name: "Батаа",
          last_name: "Овог",
          category: "Бизнес",
          text: "rerum minima ex obcaecati quasi accusamus porro voluptatem."
        },
        {
          id: 2,
          first_name: "Батаа",
          last_name: "Овог",
          category: "Бизнес",
          text:
            "Quidem, ipsum architecto iure ea ipsam numquam possimus eius itaque dignissimos rerum minima ex obcaecati quasi accusamus porro voluptatem."
        },
        {
          id: 3,
          first_name: "Батаа",
          last_name: "Овог",
          category: "Бизнес",
          text:
            "Quidem, ipsum architecto iure ea ipsam numquam possimus eius itaque dignissimos rerum minima ex obcaecati quasi accusamus porro voluptatem."
        },
        {
          id: 4,
          first_name: "Батаа",
          last_name: "Овог",
          category: "Бизнес",
          text:
            "Quidem, ipsum architecto iure ea ipsam numquam possimus eius itaque dignissimos rerum minima ex obcaecati quasi accusamus porro voluptatem."
        }
      ],
      hooperSettings: {
        // centerMode: true,
        infiniteScroll: true,
        autoPlay: true,
        playSpeed: 3000
      },
      isInfoVideoPlay: false
    };
  },

  mounted() {
    this.choosedCategoryId = 0;
    this.getDispWidth();
    this.getNewCourse();
    this.chooseCategory(0);
  },

  created() {
    let check1 = false,
      check2 = false,
      check3 = false,
      check4 = false,
      increase = 7;
    var interval = setInterval(() => {
      if (this.count1 < this.counter1) {
        this.count1 += increase;
      } else {
        increase++;
        this.count1 = this.counter1;
        check1 = true;
      }

      if (this.count2 < this.counter2) {
        this.count2 += increase;
      } else {
        increase++;
        this.count2 = this.counter2;
        check2 = true;
      }

      if (this.count3 < this.counter3) {
        this.count3 += increase;
      } else {
        increase++;
        this.count3 = this.counter3;
        check3 = true;
      }

      if (this.count4 < this.counter4) {
        this.count4 += increase;
      } else {
        increase++;
        this.count4 = this.counter4;
        check4 = true;
        if (check1 && check2 && check3 && check4) {
          clearInterval(interval);
        }
      }
    }, 50);
  },

  methods: {
    slidePrev() {
      this.$refs.carousel.slidePrev();
    },

    slideNext() {
      this.$refs.carousel.slideNext();
    },

    clickCategory(id) {
      this.page = 1;
      this.chooseCategory(id);
    },

    chooseCategory(id) {
      let link = "/course?page=" + this.page;
      this.choosedCategoryId = id;
      if (id != 0) {
        link = link + "&category_id=" + id;
      }
      this.loadingCourses = true;
      axios.get(link).then(
        res => {
          this.loadingCourses = false;
          this.cards = res.data.data;
          this.pageMeta = res.data.meta;
        },
        err => {
          this.loadingCourses = false;
          console.log("Aldaa garlaa", err);
        }
      );
    },

    getDispWidth() {
      this.displayWidth = this.$vuetify.breakpoint.width;
    },

    categoriesData() {
      return this.$store.getters["category/list"];
    },

    getNewCourse() {
      axios.get("/getNewCourse").then(
        res => {
          this.newCards = res.data.data;
        },
        err => {
          console.log("Aldaa garlaa", err);
        }
      );
    },

    handlePageChange(value) {
      this.page = value;
      this.chooseCategory(this.choosedCategoryId);
    },

    requestTeacher() {
      Swal.fire(
        "Багш болох хүсэлт.",
        "Сайн байна уу? Та e.learning@school.mn хаягаар өөрийн мэдээллийг илгээнэ үү. Бид таны мэдээллийг нягтлан хариу мэдэгдэх болно.",
        "info"
      );
    }
  }
};
</script>

<style>
.text-center {
  text-align: center;
}

.v-parallax__content {
  padding: 0;
}
</style>
