<!--<template>
  <div class="ma-6">
    <v-file-input
      show-size
      counter
      multiple
      :label="$t('input_video')"
      @change="onFilePicked"
    ></v-file-input>

    <form @submit="formSubmit" enctype="multipart/form-data">
      <strong>Image:</strong>
      <input type="file" class="form-control" v-on:change="onImageChange" />
      <button class="btn btn-success">Submit</button>
    </form>

    <v-btn class="mt-3" dark color="error" small @click="formSubmit1">
      <v-icon>mdi-save</v-icon>save1
    </v-btn>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      formContent: null,
      image: ""
    };
  },

  methods: {
    onImageChange(e) {
      console.log(e.target.files[0].name);
      this.image = e.target.files[0];
    },

    onFilePicked(e) {
      console.log(e);
      this.formContent = e[0];
    },

    formSubmit() {
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      let formData = new FormData();
      formData.append("photos", this.image);
      axios
        .post("/uploadFile", formData, config)
        .then(function(response) {
          console.log('Амжилттай')
        })
        .catch(function(error) {
          console.log('Алдаатай')
        });
    },

    formSubmit1() {
      axios
        .post("/uploadFile",{ photos: this.formContent})
        .then(function(response) {
          console.log('Амжилттай')
        })
        .catch(function(error) {
          console.log('Алдаатай')
        });
    }
  }
};
</script>
!-->

<script>
import axios from "axios";
export default {
  watch: {
    chunks(n, o) {
      if (n.length > 0) {
        this.upload();
      }
    }
  },

  data() {
    return {
      file: null,
      chunks: [],
      uploaded: 0,
      duration: 0
    };
  },

  computed: {
    progress() {
      if (this.file) {
        return Math.floor((this.uploaded * 100) / this.file.size);
      }
    },
    formData() {
      let formData = new FormData();

      formData.set("is_last", this.chunks.length === 1);
      formData.set("file", this.chunks[0], `${this.file.name}.part`);

      return formData;
    },
    config() {
      return {
        method: "POST",
        data: this.formData,
        url: "uploadFile",
        headers: {
          "Content-Type": "application/octet-stream"
        },
        onUploadProgress: event => {
          this.uploaded += event.loaded;
        }
      };
    }
  },

  methods: {
    async select(event) {
      this.file = event.target.files.item(0);
      const loadVideo = file =>
        new Promise((resolve, reject) => {
          try {
            let video = document.createElement("video");
            video.preload = "metadata";

            video.onloadedmetadata = function() {
              resolve(this);
            };

            video.onerror = function() {
              reject("Invalid video. Please select a video file.");
            };

            video.src = window.URL.createObjectURL(file);
          } catch (e) {
            reject(e);
          }
        });
      const video = await loadVideo(this.file);
      this.duration = video.duration;
      // const time = new Date();
      // const fileName = time.getTime() + "." + this.file.name.split(".").pop();
      // this.file = new File([this.file], fileName, {
      //   type: this.file.type
      // });

      // var video = document.createElement("video");
      // video.preload = "metadata";
      // // video.onloadedmetadata = function() {
      // //   return video.duration;
      // //   // console.log(this.expired_time);
      // // };
      // video.addEventListener("loadedmetadata", function() {
      //   console.log(video.duration.toFixed(2));
      //   this.expired_time = video.duration.toFixed(2);
      // });
      // video.src = URL.createObjectURL(this.file);
    },

    upload() {
      axios(this.config)
        .then(response => {
          this.chunks.shift();
        })
        .catch(error => {});
    },

    createChunks() {
      let size = 2000000,
        chunks = Math.ceil(this.file.size / size);

      for (let i = 0; i < chunks; i++) {
        this.chunks.push(
          this.file.slice(
            i * size,
            Math.min(i * size + size, this.file.size),
            this.file.type
          )
        );
      }
    }
  }
};
</script>

<template>
  <div>
    <input type="file" @change="select" />
    {{ duration }}
    <progress :value="progress"></progress>
  </div>
</template>
