<template>
  <div>
    <v-img src="/img/service.png" height="300px" aspect-ratio="1.8" contain>
    </v-img>
    <v-container>
      <div class="text-h6 mt-5">
        Сургалтын үндсэн үйл ажиллагаа чиглэл.
      </div>
      <div class="text-justify mt-5">
        &ensp; Орчин үеийн боловсролын системд гарч буй томоохон хувьсгал бол
        “Зайн сургалт”–ын технологи юм. Цар тахалтай өнөөгийн нийгэмд алсын зайн
        сургалтыг хүртээмжтэй хүргэх байдал дутагдалтай байна. Тэр дундаа
        боловсролын байгууллагад тун хомс байна. Тийм учраас Монгол орныхоо
        онцлог, орчинд нь тохирсон хөрвөх чадвартай уян хатан системийг
        нэвтрүүлснээр бага, дунд ангийн хүүхдүүдийн хичээл хоцрогдолдын түвшин
        буурах боломж бүрдэх юм. Тийм учраас мэргэжлийн багш нараар бэлтгүүлсэн
        хичээлийг олон нийтэд хүртээмжтэй байршуулах үүднээс энэхүү цахим
        сургалтын вэб сайтыг хийхийг зорьсон билээ.
      </div>
    </v-container>
  </div>
</template>
