<template>
  <v-container>
    <delete-confirm
      :show="deleteDialog"
      @cancel="deleteDialog = false"
      @delete="destroyUser"
    />

    <create-lesson :show="dialog" @cancel="closeDialog" :courseId="form.id"></create-lesson>
    <v-snackbar
      v-model="success"
      :timeout="timeout"
      right
      top
      color="success"
      shaped
    >
      {{ $t("successRegister") }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="success = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-data-table
      :headers="headers"
      :items="users"
      sort-by="id"
      :search="search"
      class="elevation-1"
      :loading-text="$t('loading')"
      :loading="loading"
      :items-per-page="pageMeta.per_page"
      :footer-props="{
        itemsPerPageText: $t('per_page'),
        prevIcon: '',
        nextIcon: '',
        disableItemsPerPage: true
      }"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>
            {{ $t("registered_courses") }}
          </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            :label="$t('search')"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            dark
            class="mb-2"
            @click="dialog = true"
            small
          >
            <v-icon dark small>
              mdi-plus
            </v-icon>
            {{ $t("create") }}
          </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
              color="primary"
              v-bind="attrs"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>
          <span>{{ $t("edit") }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              small
              @click="deleteItem(item.id)"
              color="error"
              v-bind="attrs"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>
          <span>{{ $t("delete") }}</span>
        </v-tooltip>
      </template>
      <template v-slot:no-data>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              icon
              @click="initialize(false, 0)"
              v-bind="attrs"
              v-on="on"
              ><v-icon>mdi-refresh</v-icon></v-btn
            >
          </template>
          <span>{{ $t("refresh") }}</span>
        </v-tooltip>
      </template>
      <template v-slot:footer.page-text="props">
        {{ pageMeta.from }} - {{ pageMeta.to }} /
        {{ (props.itemsLength = pageMeta.total) }}
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        v-model="pageMeta.current_page"
        :length="pageMeta.last_page"
        total-visible="7"
        circle
        @input="handlePageChange"
      ></v-pagination>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";
import DeleteConfirm from "../../../components/core/DeleteConfirm";
import CreateLesson from "../../training/CreateLesson";
import swal from 'sweetalert2'
export default {
  middleware: "auth-admin-teacher",
  components: {
    DeleteConfirm,
    CreateLesson
  },
  data() {
    return {
      timeout: 3000,
      passvalue1: true,
      passvalue: true,
      choseUser: "",
      dialog: false,
      success: false,
      deleteDialog: false,
      loading: false,
      userId: 0,
      search: "",
      pageMeta: {},
      pageLinks: {},
      page: 2,
      headers: [
        {
          text: this.$t("register_id"),
          align: "start",
          value: "id"
        },
        { text: this.$t("courseName"), value: "title" },
        { text: this.$t("category"), value: "category.name" },
        { text: this.$t("price")+'(₮)', value: "price" },
        { text: this.$t("level"), value: "level.name" },
        { text: this.$t("sell_percent")+'(%)', value: "sell_percent" },
        { text: this.$t("action"), value: "actions", sortable: false }
      ],
      users: [],
      tempUsers: [],
      editedIndex: -1,
      editedItem: {
        id: "",
        first_name: "",
        email: "",
        role: ""
      },
      defaultItem: {
        id: "",
        first_name: "",
        email: "",
        role: ""
      },
      form: {
        email: "test@test.com",
        first_name: "test",
        password: "test123",
        role: "admin",
        login_name: "test"
      },
      roles: [
        { name: this.$t("admin"), value: "admin" },
        { name: this.$t("teacher"), value: "teacher" },
        { name: this.$t("student"), value: "student" }
      ]
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "new_Item" : "edit_Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize(false, 0);
  },

  methods: {
    initialize(isPage, page) {
      if (this.user) {
        let link = "/getowncourse";
        if (isPage) {
          link = link + "?page=" + page + "&size=5";
        }
        this.loading = true;
        axios.get(link).then(
          res => {
            this.loading = false;
            this.users = res.data.data;
            this.tempUsers = this.users;
            this.pageMeta = res.data.meta;
          },
          err => {
            this.loading = false;
            console.log("Aldaa garlaa", err);
          }
        );
      }
    },

    editItem(item) {
      this.editedIndex = this.users.indexOf(item);
      this.form = item;
      this.dialog = true;
    },

    deleteItem(item) {
      this.userId = item;
      this.deleteDialog = true;
    },

    destroyUser() {
      axios
        .delete("course/" + this.userId)
        .then(res => {
          swal.fire(this.$t('success'), '', 'success');
          this.deleteDialog = false;
          this.users.splice(
            this.users
              .map(function(e) {
                return e.id;
              })
              .indexOf(this.userId),
            1
          );
          this.tempUsers = this.users;

        })
        .catch(e => {
          this.deleteDialog = false;
        });
    },

    close() {
      this.dialog = false;
      // this.clearForm();
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      if (this.editedIndex > -1) {
        axios
          .put("course/", this.form)
          .then(res => {
            let user = res.data.data;
            this.$set(
              this.users,
              this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.userId),
              user
            );
            this.tempUsers = this.users;
            this.success = true;
            this.close();
          })
          .catch(e => {});
      } else {
        // this.users.push(this.editedItem);
        // this.form.login_name = this.form.email;
        await axios.post("/course", this.form).then(
          res => {
            this.success = true;
            this.initialize(false, 0);
            this.close();
          },
          err => {
            console.log(err);
          }
        );
      }
    },

    changeUser() {
      this.users = this.tempUsers.filter(e => e.role === this.choseUser);
    },

    toggle() {
      this.choseUser = null;
      this.users = this.tempUsers;
    },

    clearForm() {
      this.form = {};
    },

    handlePageChange(value) {
      this.initialize(true, value);
    },

    closeDialog() {
      this.dialog = false;
      this.form = {};
      this.initialize(false, 0);
    }
  }
};
</script>
