<template>
  <div>

  </div>
</template>

<script>
import { Component, Vue} from 'nuxt-property-decorator'
import axios from 'axios'
@Component({
  middleware: "auth-admin",
})
export default class Dashboard extends Vue{

}
</script>
